{% extends 'base.html'%} 
{% load static %} 
{% block content %}
<!-- Error 403 -->
<div class="container text-center px-4">
  <div class="row my-3">
    <div
      class="col-sm-6 col-lg-4 mx-auto text-center my-5 p-4 shadow-container rounded-3 bg-danger-subtle"
    >
      <h2 class="m-4"><strong>Error 403 :</strong> Forbidden</h2>
      <p class="text-danger mb-5">Access to the requested resource is forbidden.</p>
      <a href="{% url 'home' %}" class="btn btn-dark">Visit Home Page</a>
    </div>
  </div>
</div>

{% endblock content %}