{% extends 'base.html'%} {% load static %} {% block content %}

<!-- Search and All Mobiles -->
<!-- Search Section -->
<section class="search-section text-center">
    <h2 class="my-5">Find Your Dream Phone</h2>
    <div class="container text-center  col-sm-4 col-10 p-3 my-5 shadow rounded-5" id="search-container">

        <div class="text-center">
        <form id="search-form" action="{% url 'all_mobiles' %}">
                    <label for="brand" >Brand:</label>
                    <select class="form-select my-4" name="brand" id="brand">
                
                        {% for key,option in brand %}
                        <option value="{{ key }}"
                        {% if key == values.brand %}
                        selected
                        {% endif %}
                        >{{ option }}</option>
                        {% endfor %}
                    </select>
                    <label for="min_price" >Min Price:</label>
                    <input class="form-control my-4" name="min_price" id="min_price">
                    <label for="min_price">Max Price:</label>
                    <input class="form-control my-4" name="max_price" id="max_price">
   
            <button type="submit" class="btn btn-dark btn-lg my-2">Search</button>
        </form>
    </div>
    </div>
</section>

<!-- Results Section -->
<section class="text-center mt-3 mx-3 p-3">
        <h2 class="mt-5">Results</h2>
        <div class="row mt-5 justify-content-center">
        {% for mobile in mobiles %}
        <div class="col-xl-2 col-sm-4 col-10 m-4 text-center">
            <div class="card border-dark border-2 rounded-4 py-1 px-3">
              <h5 class="card-title mt-1"> {{ mobile.brand }}
                {{ mobile.model }} 
              </h5>
              {% if mobile.mobile_pic1 %}
              <img
              src="{{ mobile.mobile_pic1.url }}"
              class="card-img-top"
              alt="Image of mobile phone"
              />
              {% endif %}
              <div class="card-body">
                <p class="card-text">Price: {{mobile.price}}£</p>
                <a href="{% url 'mobile-details' mobile.pk %}" class="btn btn-dark">More Info</a>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
</section>

<!--Back To Top Search Section -->
<div class="text-center my-5">
  <a href="#" class="btn btn-dark">Back To Search</a>
  </div>

{% endblock content %}