{% extends 'base.html'%} 
{% load static %} 
{% block content %}
<!-- Delete Favourites -->
<div class="container text-center px-4">
  <div class="row my-3">
    <div class="mt-2 mb-2 d-flex justify-content-start">
      <button class="btn rounded-pill btn-dark" onclick="history.back()">Go Back</button>
    </div>
    <div
      class="col-sm-6 col-lg-4 mx-auto text-center my-5 p-4 shadow-container rounded-3 bg-danger-subtle"
    >
      <h3 class="m-4">Are you sure you want to remove this from favourites?</h3>
      <p class="text-danger mb-5">Note : This action cannot be undone.</p>
      <form
        method="POST"
        action="{% url 'delete-favourites' favourite.mobile.id %}"
        class="mt-3 mb-4"
      >
        {% csrf_token %}
        <button type="submit" class="btn btn-danger text-white">Remove</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}