{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Mobile Details -->

<section id="mobile-details" class="py-4">
    <div class="container">
        <button class="btn btn-dark mb-4" onclick="history.back()">Go Back</button>
        <div class="row">
            <div class="col-12 col-lg-7">
                <a href="{{ mobile.mobile_pic1 }}" data-lightbox="listing-images">
                    <img src="{{ mobile.mobile_pic1 }}" alt="Mobile image" class="img-fluid" id="main-image">
                </a>
                <div class="row mb-5 thumbs mt-2">
                    {% if mobile.mobile_pic2 %}
                    <div class="col-4 col-md-2 mt-2 mt-md-0">
                        <a href="{{ mobile.mobile_pic2.url }}" data-lightbox="listing-images">
                            <img src="{{ mobile.mobile_pic2.url }}" alt="Mobile image" class="img-fluid img-thumb" >
                        </a>
                    </div>
                    {% endif %}

                    {% if mobile.mobile_pic3 %}
                    <div class="col-4 col-md-2 mt-2 mt-md-0">
                        <a href="{{ mobile.mobile_pic3.url }}" data-lightbox="listing-images">
                            <img src="{{ mobile.mobile_pic3.url }}" alt="Mobile image" class="img-fluid img-thumb">
                        </a>
                    </div>
                    {% endif %}

                    {% if mobile.mobile_pic4 %}
                    <div class="col-4 col-md-2 mt-2 mt-md-0">
                        <a href="{{ mobile.mobile_pic4.url }}" data-lightbox="listing-images">
                            <img src="{{ mobile.mobile_pic4.url }}" alt="Mobile image" class="img-fluid img-thumb">
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Listing title and details -->
            <div class="col-12 col-md-10 col-lg-5">
                <div class="row">
                    <div class="col-6">
                        <h2>{{ mobile.brand }}</h2>
                        <h4>{{ mobile.model }}</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h2>€{{ mobile.price|intcomma }}</h2>
                        <p>{{ mobile.added_time|timesince}} ago</p>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-6">
                            <div >
                                <span> {{ mobile.color }}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <span> {{ mobile.memory }} GB</span>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>

                {% if request.user.id != mobile.seller.id %}
                <div class="row">
                    <div class="col-10">
                        <form method="POST" action="{% url 'toggle_favourites' mobile.id %}">
                            {% csrf_token %}
                            {% if favourite %}
                            <button class="btn" type="submit" name="favourites" value="submit">  
                                Remove From Favourites</button>
                            {% else %}
                            <button class="btn" type="submit" name="favourites" value="submit">
                                Add To Favourites</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% endif %}

 
                <div class="row mt-3 justify-content-center text-center">
                    <div class="col-10 my-2 py-3 shadow-container seller-card">
                        <div class="row d-flex justify-content-center align-items-center ">
                            <div class="col-12 col-md-6 d-flex justify-content-center">
                                <div class="seller-image-container p-3">

                                    {% if request.user.id == mobile.seller.id %}
                                    <a href="{% url 'profile' mobile.seller.id %}">
                                    {% else %}
                                    <a href="{% url 'user-account' listing.owner.id %}">
                                    {% endif %}

                                        <img class="profile-image" src="{{ mobile.seller.profile_picture }}"
                                        alt="user profile image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h4>{{ mobile.seller.name }}</h4>
                            </div>
                        </div>

                        <div class="row px-3  d-flex flex-column align-items-center">
                            <div class="col-12 text-center m-auto">
                                <p class="seller-email">Email: {{ mobile.seller.email }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12 col-lg-10">
                <h5>Description:</h5>
                <hr>
                <p>{{ mobile.comments }}</p>
            </div>
    </div>
  
 
  </div>
</section>
{% endblock content%}