{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Password Reset Email Sent Confirmation -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-sm-8 col-10 mx-auto my-5 p-5 text-center shadow rounded-3">
                <h2>Password Reset Email Sent</h2>
                <p> Please check your Email, we have emailed you password reset link with instructions.</p>
                <p> Please contact us if you need further assistance </p>
            </div>
        </div>
    </div>

{% endblock content %}