{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Profile Page -->

<div class="text-center my-3"><h2>{{ profile.user.username}}'s Profile</h2></div>
{% if profile %}
<div class="container   text-center">
    <div class="row">
        <div class="col-lg-6 col-sm-10 mx-auto mb-5 p-5 shadow rounded-3 position-relative bg-body-tertiary">
            <div class="position-absolute top-0 end-0">
                <a class="btn btn-dark mx-3 mt-3 rounded-pill" href="{% url 'profile-update'%}">Edit Profile</a>
            </div>
            <div class="m-5 profile-image-container">
                {% if profile.user_picture %}
                <img class="shadow rounded-5 profile-image img-fluid" src="{{profile.user_picture}}" alt="Image of User">
                {% else %}
                <img class="shadow rounded-5 profile-image img-fluid" src="{% static 'images/users/user-placeholder.jpeg'%}" alt="Image of mobile phones"/>
                {% endif %}
            </div>
            <h5>{{ profile.user.first_name}} {{ profile.user.last_name}} </h5>
            <h5>{{ profile.user.email}}</h5>
            <div class="m-3">
                <a class="btn btn-outline-success m-3 " href="{% url 'my_mobiles'%}">My Listings</a>
                <a class="btn btn-outline-success m-3" href="{% url 'my_favourites'%}">My Favourites</a>
            </div>
            <div class="position-absolute bottom-0 end-0">
                <a class="btn btn-outline-danger m-3" href="{%url 'delete-account'%}">Delete Account</a>
            </div>
            
        </div>
    </div>
</div>
{% endif %}

{% endblock %}