{% extends 'base.html'%}
{% load static %}
{% block content %}

{% if profile %}
<div class="container  vw-100 vh-80 text-center">
    <div class="row">
        <div class="col-lg-8 col-sm-10 mx-auto my-5 p-5 shadow rounded-3 position-relative bg-body-tertiary">
            <h2>{{ profile.user.username}}'s Profile</h2>
            <div class="position-absolute top-0 end-0">
                <a class="btn btn-dark m-3" href="{% url 'profile-update'%}">Edit Profile</a>
            </div>
            
            <div class="m-5"><img class="shadow rounded-5" src="{{profile.user_picture}}" alt="Image of User"></div>
            
            <h5>Name : {{ profile.user.first_name}} {{ profile.user.last_name}} </h5>
            <h5>Email Id : {{ profile.user.email}}</h5>
            <div class="m-3">
                <a class="btn btn-outline-success m-3 " href="#">My Listings</a>
                <a class="btn btn-outline-success m-3" href="#">My Favourites</a>
            </div>
            <div class="position-absolute bottom-0 end-0">
                <a class="btn btn-outline-danger m-3" href="{%url 'delete-account'%}">Delete Account</a>
            </div>
            
        </div>
    </div>
</div>
{% endif %}

{% endblock %}